nav {
    position: fixed;
    width: 65%;
    top: 0;
    padding: 3em 0 1em 0;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: white;
}

nav h3 {
    color: #1b1b1b;
}

nav li {
    display: inline-flex;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 350;
    opacity: 0.5;
    padding: 0 0 0 2em;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
    color: #1b1b1b;
}



li:hover {
    opacity: 1;
}