body {
  /* margin: 0 auto; */
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 98vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
